* {
    box-sizing: border-box;
    margin: 0;
}

.parent {
    /* oveflow hidden을 통해 float로 망가진 CSS 수정 */
    /* overflow: hidden; */
    width: 400px;
    margin: 0 auto;
    background-color: wheat;
}

.parent::after{
    content: "";
    display: block;
    clear: left;
}

.child {
    float: left;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    color: white;
    font-weight: 600;
}

.child::after{
    content: "!";
}

.red {
    background-color: red;
}

.yellow {
    background-color: rgb(224, 202, 0);
}
  
.blue {
    background-color: blue;
}

.other{
    color: white;
    background-color: black;
}