*{
    box-sizing:border-box;
    margin:0;
}

button{
    border: none;
    background-color: white;
}

.line-button{
    font-size: 16px;
    line-height: 1.25;
    padding: 18px 30px;
    position: relative;
    cursor: pointer;
}

.line-button::after{
    content: '';
    position: absolute;
    width: 0;
    height:  2px;
    background-color: #0066ff;
    bottom: 0;
    left: 0;
    transition: width 250ms ease-in, background-color 250ms ease-in;
}

.line-button:hover::after{
    width: 100%;
    background-color: brown;
}