*{
    box-sizing: border-box;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style-type: none;
    list-style: none;
}

.tab-menu{
    display: flex;
    padding-left: 0;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.tab-menu-item{
    margin-right: 16px;
}

.selected a{
    color: dodgerblue;
    border-bottom: 1px solid dodgerblue;
}

/* ------------------------------------- */

.card{
    width: 800px;
    display: flex;
    padding-left: 0;
}

.card-user{
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: block;
    margin-right: 20px;
}

h1 {
    font-size: 16px;
    font-weight: 400;
    color: #1f2d3d;
    line-height: 1.25;
  }