li{
    list-style-type: none;
    list-style: none;
}

.tab-menu{
    display: flex;
    padding-left: 0;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid dodgerblue;
}

.tab-menu-item{
    margin-right: 16px;
}

.nav > *{
    width: 100px;
    height: 50px;
    text-align: center;
    border: 1px solid black;
}

.emails {
    color: dodgerblue;
}