* {
    box-sizing: border-box;
    margin: 0;
}

p {
    width: 500px;
    height: 400px;
    background-color: palevioletred;
    overflow: scroll;
}

blockquote{
    width: 500px;
    height: 100px;
    background-color: peru;
    overflow: hidden;
    overflow-x: scroll;
}