* {
    box-sizing: border-box;
    margin: 0;
}

html{
    font-size: 20px;
}

p{
    letter-spacing: -0.01em;
    line-height: 1.5;
    font-size: 1rem;
    font-family: 'Noto Sans KR', sans-serif;;
    font-weight: 300;
    color: black;
    text-align: left;
    text-indent: 5px;
}