body {
    height: 3000px;
}

.grand {
    position: absolute;
    background-color: palegreen;
    width: 500px;
    height: 700px;
}
.parent {
    background-color: yellowgreen;
    position: relative;
}

.child {
    margin: 0 auto;
    text-align: center;
}

.red {
    background-color: red;
    width: 200px;
    height: 200px;
    position:absolute;
    right: 20px;
    bottom: 20px;
}

.orange {
    background-color: orange;
    width: 200px;
    height: 200px;
    position: fixed;
    right: 0;
    bottom: 0;
}

.blue {
    background-color: blue;
    width: 200px;
    height: 200px;
}